<div class="container mt-2">
  <div class="col-4 offset-md-4">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="text-center mb-4">
        <h1 class="h3 mb-3 font-weight-normal">Login</h1>
      </div>

      <app-text-input
        formControlName="email"
        [label]="'Email address'"
      ></app-text-input>
      <app-text-input
        formControlName="password"
        [label]="'Password'"
        [type]="'password'"
      ></app-text-input>

      <button
        [disabled]="loginForm.invalid"
        class="btn btn-lg btn-primary btn-block"
        type="submit"
      >
        Sign in
      </button>
    </form>
  </div>

  <!-- <div class="col-5 mt-4 pt-5">
    <p>Form Status: (All fields validator) {{ loginForm.status }}</p>
    <p>Email Status: (Format validator) {{ loginForm.get("email").status }}</p>
    <p>Form Status: (Start enter) {{ loginForm.get("email").dirty }}</p>
    <p>Form Status: (Lost focus) {{ loginForm.get("email").touched }}</p>
    <pre>
      {{ loginForm.value | json }}
    </pre>
  </div> -->
</div>
