<div class="container mt-5">
  <div class="row">
    <ng-container>
      <!-- <ng-container *ngIf="types && brands"> -->
      <section class="col-3">
        <h5 class="text-warning ml-3">Sort</h5>
        <select
          class="custom-select my-3"
          (change)="onSortSelected($event.target.value)"
        >
          <option *ngFor="let sort of sortOptions" [value]="sort.value">
            {{ sort.name }}
          </option>
        </select>
        <h5 class="text-warning ml-3">Brands</h5>
        <ul class="list-group mb-3">
          <li
            class="list-group-item"
            *ngFor="let brand of brands"
            [class.active]="brand.id === this.shopParams.brandIdSelected"
            [value]="brand.id"
            (click)="onBrandSelected(brand.id)"
          >
            {{ brand.name }}
          </li>
        </ul>
        <h5 class="text-warning ml-3">Types</h5>
        <ul class="list-group my-3">
          <li
            class="list-group-item"
            *ngFor="let type of types"
            [class.active]="type.id === this.shopParams.typeIdSelected"
            [value]="type.id"
            (click)="onTypeSelected(type.id)"
          >
            {{ type.name }}
          </li>
        </ul>
      </section>
    </ng-container>
    <section class="col-9">
      <div class="d-flex justify-content-between align-items-center pb-2">
        <app-paging-header
          [totalCount]="totalCount"
          [pageSize]="shopParams.pageSize"
          [pageNumber]="shopParams.pageNumber"
        ></app-paging-header>

        <div class="form-inline mt-2">
          <input
            (keyup.enter)="onSearch()"
            type="text"
            class="form-control mr-2"
            #search
            placeholder="Search"
          />
          <button (click)="onSearch()" class="btn btn-outline-primary my-2">
            Search
          </button>
          <button (click)="onReset()" class="btn btn-outline-success ml-2 my-2">
            Reset
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-4 mb-4" *ngFor="let product of products">
          <app-product-item [product]="product"></app-product-item>
        </div>
      </div>
      <div class="d-flex justify-content-center" *ngIf="totalCount > 0">
        <app-pager
          [pageSize]="shopParams.pageSize"
          [totalCount]="totalCount"
          (pageChanged)="onPageChanged($event)"
        ></app-pager>
      </div>
    </section>
  </div>
</div>

<!-- 
<hr />
<hr />
<hr />
<div>
  ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
</div>
<div class="row">
  <div class="col-4 mb-4" *ngFor="let product of products">
    <app-product-item [product]="product"></app-product-item>
  </div>
</div>

<div class="container">
  <div class="row">
    <select class="col-3" (change)="onSortSelected($event.target.value)">
      <option *ngFor="let sort of sortOptions" [value]="sort.value">
        {{ sort.name }}
      </option>
    </select>
  </div>
</div>

<hr />
<hr />
<hr />

<li
  class="list-group-item"
  *ngFor="let brand of brands"
  [class.active]="brand.id === this.shopParams.brandIdSelected"
  [value]="brand.id"
  (click)="onBrandselected(brand.id)"
>
  {{ brand.name }}
</li>

<hr />
<hr />
<hr />

<li
  class="list-group-item"
  *ngFor="let type of types"
  [class.active]="type.id === this.shopParams.typeIdSelected"
  [value]="type.id"
  (click)="onTypeSelected(type.id)"
>
  {{ type.name }}
</li>

<hr />
<hr />
<hr />

<p>
  {{ totalCount }}
</p>

<p></p>
<p></p>

<button (click)="onSearch()" class="btn btn-outline-primary my-2">
  Search1
</button>
<button (click)="onReset()" class="btn btn-outline-success ml-2 my-2">
  Reset2
</button>

<div>
  <input #search type="text" />
</div>
<br />
<br /> -->
