.cart-no {
  position: absolute;
  min-height: 25px;
  min-width: 25px;
  border-radius: 50%;
  font-size: 1em;
  background: blue;
  color: white;
  text-align: center;
  top: -12px;
  right: 32px;
}

a {
  text-decoration: none;
  color: #343a40;
  font-weight: bold;

  &.active {
    color: orange;
  }
}

.logo {
  max-height: 70px;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}
